/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/ubuntu-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/ubuntu-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/ubuntu-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/ubuntu-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/ubuntu-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/ubuntu-v20-latin-regular.svg#Ubuntu") format("svg"); /* Legacy iOS */
}
/* ubuntu-500 - latin */
@font-face {
  font-family: "Ubuntu" sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/ubuntu-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/ubuntu-v20-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/ubuntu-v20-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/ubuntu-v20-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/ubuntu-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/ubuntu-v20-latin-500.svg#Ubuntu")
      format("svg"); /* Legacy iOS */
}
/* ubuntu-700 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/ubuntu-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/ubuntu-v20-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/ubuntu-v20-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/ubuntu-v20-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/ubuntu-v20-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/ubuntu-v20-latin-700.svg#Ubuntu")
      format("svg"); /* Legacy iOS */
}
body {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu";
  font-style: normal;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .top-block {
      display: flex;
      align-items: center;
      gap: 2.083vw;
      video {
        width: 20.208vw;
      }
      span {
        font-weight: 700;
        font-size: 5.686vw;
        line-height: 4.688vw;
        background: linear-gradient(271.16deg, #ff38cc -18.55%, #fe8900 94.48%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        z-index: 1;
      }
    }
    .bottom-block {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
        90.14deg,
        rgba(254, 133, 12, 0) 0.55%,
        #fe7c23 31.87%,
        #ff5682 71.57%,
        rgba(255, 78, 149, 0) 99.49%
      );
      border-radius: 1.563vw;
      width: 59.323vw;
      height: 3.385vw;
      span {
        font-weight: 500;
        font-size: 2.558vw;
        line-height: 2.917vw;
        text-align: center;
        background: linear-gradient(
          90.14deg,
          #000000 0.55%,
          #341b0a 31.87%,
          #090204 71.57%,
          #131313 99.49%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }
  a {
    text-decoration: none;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    text-shadow: -0.104vw 0.104vw 0.417vw rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 2.168vw;
    line-height: 2.5vw;
    transition: 0.5s;
    background: #454545;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    &:hover {
      background: linear-gradient(271.16deg, #ff38cc -18.55%, #fe8900 94.48%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}
@media screen and (max-width: 1024px) {
  body {
    .container {
      transform: scale(1.5);
    }
    a {
      font-size: 4.168vw;
      line-height: 5.5vw;
    }
  }
}
